@import url('https://fonts.googleapis.com/css?family=Roboto');
#desc{
  position: absolute;
  right: 40px;
  top: 20px;
  z-index: 1;
  font-family: 'Roboto';
}
#links {
  z-index: 1;
  top: 45%;
  left: 10%;
  position: absolute;
  color: white;
  font-family: 'Roboto';
}
